*{
    margin: 0;
    padding:0;
}
#header{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    padding-left: 4vw;

}
#button{
    padding-right: 4vw;
}

#menu-a {
    display: flex;
    gap: 5vw;
}

.box-a{
    width: 5.5vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-a:hover{
    background-color: orangered;
}
.box-a:hover{
    color:white
}
.box-a a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

#button button{
    width: 10vw;
    height: 6vh;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}